#logoutButton{
    text-decoration:none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 5em;
    text-shadow: 4px 4px black;
    font-weight:700;
}

#logoutButton:hover{
    text-shadow: 1px 1px 20px black;
    transition: text-shadow .3s;
    cursor: pointer;
}