.homePage a{
    text-decoration: none;
    font-size: 32px;
    color: whitesmoke;
}

.homePage a:hover{
    color: rgb(209, 92, 75);
    transition: color .5s;

}

.homePage{
    text-align: center;
    backdrop-filter: blur(2px);

    
}

.splashPage{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--body-height) / 1.5);
    width: calc(var(--body-width) / 1.1);
    justify-content: space-around;
    align-items: center;
    
}

.splashPage a{
    text-decoration: none;
    font-size: 42px;
    color: whitesmoke;
}

.splashPage a:hover{
    color: rgb(209, 92, 75);
    transition: color .5s;
}

.beginSearchContainer:hover{
    backdrop-filter: blur(3px);
    transition: backdrop-filter .5s;

}

#welcomeMessage{
    font-size: 60px;
    text-decoration: none;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: 4px 4px rgb(34, 17, 1);
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}

#welcomeMessage:hover{
    cursor: context-menu;
}

.homeSplashContainer{
    width: var(--body-width);
    height: var(--body-height);
}

#beginSearchButton{
    text-shadow: 4px 4px rgb(34, 17, 1);
    font-size: 3rem;
    color:rgb(209, 92, 75)


}

#beginSearchButton:hover{
    color:white;
    transition: color .5s
}

.splashText{
    text-shadow: 4px 4px rgb(34, 17, 1);

}

#splashParagraph{
    text-shadow: 4px 4px rgb(34, 17, 1);
    font-size: 1.4rem;
    line-height: 2.2rem;
}

#splashParaDiv{
    display: flex;
    margin: 1vh;
    text-align: center;
    backdrop-filter: blur(3px);
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: auto;
    height: 20vh;

}


#splashParaDiv::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

#beginSearch{
    font-size: 5rem;
    color: rgb(209, 92, 75);
    
}


#beginSearch:hover{
    color: white;
    transition: all .5s;
}

#splashParaDiv::-webkit-scrollbar-thumb {
    background-color: rgba(235, 134, 97, 0.3);
  }
