.nav{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 12vw;
    height: 60vh;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    top: 0px;
    background:transparent;
    right: 5%;
    flex-direction: column;
    font-size: 32px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;

}

.nav a{
    text-decoration:none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 5em;
    text-shadow: 4px 4px black;
    font-weight:700;
}

.nav div{
    position: relative;
}

.active{
    text-shadow: 1px 1px 5px black;
}

.nav a:hover{
    text-shadow: 1px 1px 20px black;
    transition: text-shadow .3s ;
}

